.nav-bar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 30px;
  background: #d33a2c;
  padding: 20px;
  text-align: center;
}

.logo {
  margin-top: 20px;
}

.nav-item {
  margin: 10px 0;
}

.nav-item img {
  width: 39px;
  height: 44px;
  transform: scale(1) rotateZ(calc(20 * -1deg));
}

.first-section img {
  width: 75px;
  height: 75px;
  border: 5px solid white;
  border-radius: 10px;
}

.author-info img {
  transform: scale(1) rotateZ(calc(12 * -1deg));
}

.person-week img {
  border: 8px solid rgb(151, 10, 10);
  border-radius: 10px;
  transform: scale(1) rotateZ(calc(10 * -1deg));
}

.author img {
  width: 65px;
  height: 65px;
  border: 5px solid rgb(150, 6, 6);
  border-radius: 8px;
  transform: scale(1) rotateZ(calc(12 * -1deg));
}

.table-content img {
  width: 256px;
  height: 373px;
  transform: scale(1) rotateZ(calc(12 * -1deg));
}

.nav-item img:hover {
  transform: scale(1) rotate(3deg);
  transition: transform 0.3s ease-out;
  transform-origin: bottom;
}

form span {
  cursor: pointer;
  color: rgb(36, 35, 35);
}

.nav-bar small {
  font-size: 13px;
  font-weight: lighter;
  font-style: italic;
}

.search-icon {
  width: 120px;
  height: 50px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 8px 16px;
  margin-top: 40px;
}

.page-title {
  position: absolute;
  top: 190px;
  line-height: 1.1;
  font-size: 36px;
  text-align: center;
  width: 100%;
  font-weight: bolder;
}

.page-title span {
  background-color: white;
}

.first-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  line-height: 30px;
}

footer a {
  color: white;
}

.smashing-paragraph a {
  text-decoration: none;
  color: whitesmoke;
  border-bottom: 3px solid rgb(202, 179, 179);
}

.seriously {
  display: flex;
  justify-content: flex-end;
}

.seriously span {
  border: 1px solid white;
  border-radius: 8px;
  width: 135px;
  height: 35px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 10px;
}

.shipping span {
  font-size: larger;
  color: white;
  text-transform: uppercase;
  padding: 2% 2% 2% 6%;
}

.content-paragraph span {
  color: white;
  text-transform: lowercase;
}

.subscribe span {
  display: inline;
}

.author-text p,
.author-span,
.seriously span {
  font-size: 18px;
}

.nav-bar,
.author-text,
.first-section,
.topics,
.article-one h3,
.article-one h2,
.article-two h3,
.smashing-h2,
.article-three h3,
.person-week {
  font-family: Calibri Bold, AvenirNext, Avenir, -apple-system, BlinkMacSystemFont, Roboto Slab, Droid Serif, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Georgia, serif;
}

.button,
.article-one p,
.table-content span,
.author-info h3,
.smashing-paragraph,
.subscribe a {
  font-size: 20px;
}

.nav-bar span {
  font-weight: bold;
}

.article-one span,
.article-two span,
.article-three span {
  font-family: Calibri Bold, AvenirNext, Avenir, -apple-system, BlinkMacSystemFont, Roboto Slab, Droid Serif, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Georgia, serif;
  color: #666;
  font-size: 16px;
  font-weight: 700;
}

.table-content span {
  font-weight: bold;
  text-transform: uppercase;
}

.seriously span:hover {
  background-color: white;
  color: rgb(172, 5, 5);
  cursor: pointer;
}

.ball {
  width: 55px;
  height: 55px;
  bottom: 500px;
  border: 10px solid white;
  border-radius: 15px;
  transform: scale(1) rotateZ(calc(12 * -1deg));
}

.ball:hover {
  cursor: pointer;
  transform: scale(1) rotate(1deg);
  transition: transform 0.3s ease-out;
  transform-origin: bottom;
}

.first-section h2 {
  font-size: 40px;
  line-height: 40px;
}

.first-section a {
  text-decoration: none;
  color: white;
}

.author1 {
  background-color: #861409;
  padding: 145px 30px 50px 30px;
}

.author2 {
  background-color: #b91b0d;
  padding: 50px 30px;
}

.author3 {
  background-color: #751108;
  padding: 50px 30px;
}

.author4 {
  background-color: #af1b0d;
  padding: 50px 30px;
}

.author-info {
  display: flex;
  justify-content: flex-start;
}

.author-info img:hover {
  transform: scale(1) rotate(10deg);
  transition: transform 0.3s ease-out;
  transform-origin: bottom;
}

.name {
  padding-top: 20px;
  padding-left: 30px;
}

.author-info h3 {
  font-weight: bold;
}

.author-info em {
  font-weight: 20;
}

.comments-one {
  bottom: 80px;
  position: relative;
  top: -30px;
  left: 250px;
}

.comments-two {
  bottom: 80px;
  position: relative;
  top: -30px;
  left: 310px;
}

.comments-three {
  bottom: 80px;
  position: relative;
  top: -30px;
  left: 340px;
}

.comments-four {
  bottom: 80px;
  position: relative;
  top: -30px;
  left: 400px;
}

.comments-one,
.comments-two,
.comments-three,
.comments-four {
  font-size: 15px;
}

.custom-user {
  padding: 0 10px;
}

.topics {
  font-size: 14px;
  font-weight: bold;
}

.topics::before {
  content: '#';
  color: #61140f;
  margin-right: 0.8px;
  font-size: 20px;
}

sup {
  font-size: 11px !important;
  position: relative;
  top: -6px;
}

.arrow-left {
  display: block;
  padding-top: 100px;
}

.arrow-right {
  display: block;
  padding-top: 140px;
}

.article-one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  padding: 50px 30px;
  line-height: 1.4;
}

.article-one h3,
.article-two h3,
.article-three h3 {
  font-size: 10px;
  font-weight: 600;
}

.curated h2 {
  font-size: 27px;
  color: rgb(36, 35, 35);
  padding-bottom: 15px;
}

.article-one h2 {
  color: rgb(12, 12, 12);
  font-size: 24px;
  font-weight: 800;
}

.article-one h3,
.article-one h2 {
  display: block;
  margin-bottom: 7px;
}

.article-one h2:hover {
  color: rgb(211, 24, 24);
}

.button a {
  text-decoration: none;
  color: #267dcc;
}

.account a {
  text-decoration: none;
  color: whitesmoke;
  border-bottom: 3px solid rgb(202, 179, 179);
}

.design a {
  text-decoration: none;
  color: white;
  border-bottom: 5px solid rgb(133, 130, 130);
}

.shipping-btn a {
  text-decoration: none;
  color: #006fc6;
}

.person-week a {
  color: #006fc6;
}

.content-h2 a {
  font-size: 45px;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid rgb(175, 165, 165);
}

.table-content-btn a {
  font-size: 20px;
  color: #267dcc;
  font-weight: bold;
  text-decoration: none;
}

.person-week p,
.days {
  color: #333;
}

.author-text p,
.author-span,
.person-week h4,
.article-three h3,
.article-author,
.article-two h3,
.author-span a,
.article-one a,
.article-one h3 {
  color: #666;
}

.subscribe a {
  text-decoration: none;
  color: #006fc6;
  font-weight: bold;
  border-left: 1px solid grey;
  padding-left: 20px;
}

.sub-small,
.sub-small a,
.nav-bar {
  color: #fff;
}

.article-paragraph a {
  color: #333;
  text-decoration: none;
}

.sub-small a {
  text-decoration: none;
  border-bottom: 1px solid rgb(175, 167, 167);
}

.smashing-h2 a {
  color: rgb(49, 48, 48);
}

.list li a {
  font-size: 26px;
  color: #006fc6;
  line-height: 1.5;
}

.news h2 a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid srgb(199, 194, 194);
}

.subscribe a:hover {
  color: rgb(175, 8, 8);
}

.table-content-btn a:hover {
  color: rgb(156, 9, 9);
}

.article-topics:hover {
  color: rgb(151, 13, 13);
}

.article-one p {
  font-family: sans-serif;
  color: rgb(46, 44, 44);
}

.article-two {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-column-gap: 25px;
  margin-bottom: 100px;
  padding: 20px 30px;
  line-height: 1.4;
}

.article-two h3 {
  display: block;
  margin-bottom: 7px;
}

.smashing-h2 {
  display: block;
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 800;
  text-decoration: underline;
}

.smashing-h2:hover {
  color: rgb(211, 24, 24);
}

.article-author:hover {
  color: black;
}

.days {
  text-decoration: none;
}

.arrows {
  color: rgb(211, 9, 9);
  display: block;
}

.arrow-1 {
  padding-top: 160px;
}

.arrow-2 {
  padding-top: 130px;
}

.arrow-3 {
  padding-top: 160px;
}

.arrow-4 {
  padding-top: 370px;
}

.arrow-5 {
  padding-top: 430px;
}

.arrow-6 {
  padding-top: 400px;
}

.smashing-members {
  background: #d33a2c;
  border-radius: 10px;
  text-align: center;
  padding: 20px 40px 40px 40px;
}

.smashing-link {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 3px solid rgb(202, 179, 179);
  line-height: 1.2;
}

.smashing-paragraph {
  color: whitesmoke;
  line-height: 1.7;
  padding: 40px 0;
}

.button {
  background-color: white;
  height: 50px;
  border-radius: 10px;
  align-items: center;
  font-weight: bold;
  padding-top: 12px;
}

.button a:hover {
  color: #d33a2c;
}

.explore-btn {
  width: 60%;
  margin: 0 0 30px 100px;
}

.account {
  font-size: 14px;
  color: whitesmoke;
}

.article-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  grid-column-gap: 25px;
  margin-bottom: 100px;
  padding: 20px 35px;
  line-height: 1.4;
}

.explore-btn2 {
  width: 85%;
  margin: 0 0 20px 55px;
}

.article-three h3 {
  display: block;
  margin-bottom: 7px;
}

.latest-container {
  margin: 0 0 100px 570px;
}

.latest-articles {
  color: black;
  text-decoration: none;
  border-bottom: 5px solid red;
}

.latest-articles:hover {
  color: red;
}

.shipping {
  width: 100%;
  background-color: #7ab99a;
  line-height: 0.7;
}

.design {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.design2 {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}

.shipping-paragraph p {
  text-align: center;
  font-size: x-large;
  line-height: 1.2;
  margin-top: 45px;
}

.shipping-text {
  text-align: center;
  padding: 5% 0;
}

.shipping-text small {
  font-size: small;
}

.shipping-btn {
  background-color: white;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  padding-top: 17px;
  padding-left: 15px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.shipping-btn a:hover {
  color: #b91b0d;
}

.book-image {
  text-align: center;
}

.article-four {
  margin-bottom: 70px;
}

.person-week {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 50px;
  margin: 50px 60px;
}

.person-week img:hover {
  transform: scale(1) rotate(1deg);
  transition: transform 0.3s ease-out;
  transform-origin: bottom;
}

.person-week h4 {
  line-height: 4;
}

.person-week h4,
.shipping-btn,
.article-paragraph {
  font-size: 22px;
}

.person-week p {
  font-size: 17px;
  line-height: 2;
}

.link-authors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.author {
  display: flex;
  margin: 0 80px;
}

.author img:hover {
  transform: scale(1) rotate(1deg);
  transition: transform 0.3s ease-out;
  transform-origin: bottom;
}

.author-text {
  margin-left: 50px;
}

.author-span {
  font-weight: 700;
}

.course-link {
  font-size: 30px;
  color: rgb(43, 41, 41);
  text-decoration: none;
  font-weight: bold;
}

.course-link:hover {
  color: rgb(163, 7, 7);
}

footer p {
  font-size: 18px;
  line-height: 1.5;
}

.news p {
  font-size: 20px;
}

.author-text p {
  line-height: 1.5;
  margin-top: 15px;
}

.course-link2 {
  color: #006fc6;
}

.table-content {
  display: flex;
  justify-content: space-between;
  background-color: #d33a2c;
  color: whitesmoke;
  line-height: 2;
  padding: 50px 80px;
  width: 100%;
}

.content-paragraph {
  font-size: 19px;
}

.table-content-btn {
  background-color: whitesmoke;
  width: 245px;
  height: 65px;
  border-radius: 10px;
  padding: 10px 0 0 40px;
}

.table-content img:hover {
  transform: scale(1) rotate(1deg);
  transition: transform 0.4s ease-out;
  transform-origin: bottom;
}

.curated {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  padding: 50px 0 150px 70px;
}

.curated-small {
  font-size: 12px;
  color: rgb(185, 174, 174);
  margin-bottom: 10px;
}

.list {
  list-style-type: disc;
  color: #c5180c;
}

.newsletter {
  width: 100%;
  margin-bottom: 100px;
}

.smashing-news {
  background-color: #d33a2c;
  border-radius: 10px;
  padding: 50px 100px;
}

.news {
  text-align: center;
  color: white;
  line-height: 2;
}

.subscribe {
  display: flex;
  background-color: white;
  margin: 0 auto;
  width: 400px;
  height: 60px;
  border-radius: 10px;
  padding: 18px 0 0 15px;
}

.subscribe-btn {
  margin: 0 0 15px 15px;
}

.form-email {
  border: none;
  width: 70px;
}

.sub-small {
  text-align: center;
  line-height: 1.2;
  margin-top: 35px;
}

footer {
  background-color: #d33a2c;
  text-align: center;
  color: white;
}

.footer-heading {
  text-align: center;
  padding-top: 60px;
}

.footer-main-ul {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 5px;
  font-size: x-large;
  text-align: center;
  margin: 50px 0;
  line-height: 1.5;
}

.main-ul li {
  display: inline;
}

.main-ul li::before {
  content: "\2022";
  color: #580c06;
}

.footer-ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  line-height: 2;
  padding-top: 15px;
}

.footer-ul li {
  display: inline;
}

.footer-img {
  display: flex;
  justify-content: space-around;
}
